@import url( 'https://fonts.googleapis.com/css?family=Galada|Roboto:100,300,400,400i,500,500i,700');
@import "reset";
@import "variables";
@import "pages/home";
@import "pages/welcome";
@import "auth/auth";
//Import des différents _scss

*{
  box-sizing: border-box;
  resize:none;
}
.mt10{
  margin-top: 10%;
}
.mt5{
  margin-top: 5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: rgba(131,185,222,1);
  background: -moz-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(131,185,222,1)), color-stop(100%, rgba(150,230,194,1)));
  background: -webkit-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
  background: linear-gradient(135deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
}
#app{
  width: 100%;
}
.app-container{
  width: 100%;
  max-width: 1400px;
  background: #fff;
  height: 800px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
}
button:focus, input:focus,select:focus,textarea:focus{
  outline: none;
}
label{
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}
input[type="text"],
input.text {
  background: #F3F3F3;
  border:none;
  border-radius:3px;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 1rem;
}
textarea{
  background: $textfield;
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 1.2rem;
}
.default-form{
  .error-box{
    display: none;
    background: $red;
    color: white;
    padding: 15px;
    margin-bottom: 1rem;

    &.active{
      display: block
    }
  }
  .form-group{
    & > .error{
      border: 1px solid red;
    }
  }
  button{
    cursor: pointer;
    color: white;
    background: rgba(131,185,222,1);
    background: -moz-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(131,185,222,1)), color-stop(100%, rgba(150,230,194,1)));
    background: -webkit-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
    background: linear-gradient(135deg, rgba(131,185,222,1) 0%, rgba(150,230,194,1) 100%);
    width: 100%;
    min-width: 200px;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 4px;
    border: none;
    padding: 10px 0;
  }
}
.notifications{
  display: none;
  &.welcome{
    background: #89c8d5;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    z-index: 100;

  }
  &.active{
    display: block;
  }
}
